<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-2">
      <h1 class="text-center my-2">Contato</h1>
      <p class="text-center lead">Crie ou edite seu contato</p>
    </div>

    <%- include('includes/messages')%>

    <% if(contact._id) { %>
      <form action="/contact/edit/<%= contact._id %>" method="POST">
    <% } else { %>
      <form action="/contact/save" method="POST">
    <% } %>     
      <input type="hidden" name="_csrf" value=<%= csrfToken%>>
      <div class="mb-3">
        <label class="form-label">Nome</label>
        <input value="<%= contact.nome %>" type="text" class="form-control" name="nome">
      </div>

      <div class="mb-3">
        <label class="form-label">Sobrenome</label>
        <input value="<%= contact.sobrenome %>" type="text" class="form-control" name="sobrenome">
      </div>

      <div class="mb-3">
        <label class="form-label">Email</label>
        <input value="<%= contact.email %>" type="email" class="form-control" name="email">
      </div>

      <div class="mb-3">
        <label class="form-label">Telefone</label>
        <input value="<%= contact.telefone %>" type="tel" class="form-control" name="telefone">
      </div>

      <button type="submit" class="btn btn-primary">Salvar</button>
    </form>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer.ejs') %>