<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-2">
      <h1 class="text-center my-2">Cadastro</h1>
      <p class="text-center lead">Faça sua conta preenchendo os campos abaixo</p>

      <%- include('includes/messages'); %>

      <div class="row">
        <div class="col-lg">
          <h4>Cadastro</h4>
  
          <form action="/register/register" method="POST">
            <input type="hidden" name="_csrf" value=<%= csrfToken%>>
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input type="email" class="form-control" name="email">
            </div>
  
            <div class="mb-3">
              <label class="form-label">Senha</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Criar conta</button>
            <button type="submit" class="btn btn-outline-secondary" formaction="/login/index" formmethod="get">Login</button>

          </form>
  
        </div>
    </div>

    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer.ejs') %>